* {
    box-sizing: border-box;
}
@font-face {
    font-family: "Mulish";
    src: local("Mulish-ExtraBold"), url("../fonts/Mulish-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Mulish";
    src: local("Mulish-Bold"), url("../fonts/Mulish-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Mulish";
    src: local("Mulish-SemiBold"), url("../fonts/Mulish-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Mulish";
    src: local("Mulish-Medium"), url("../fonts/Mulish-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Mulish";
    src: local("Mulish-Regular"), url("../fonts/Mulish-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Mulish";
    src: local("Mulish-Light"), url("../fonts/Mulish-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
.header {
    background: #fff;
    border-bottom: 1px solid #d7dae2;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);



}
.button {
    cursor: pointer;
}
.app-store-ico {

}
.navbar-brand {
    padding: 0!important;
}

.header__button-group {
    gap: 7px;
}
.button-img {
    border: none;
    background: transparent;
    padding: 0;
    transition: transform 0.2s ease-in-out;
}
.header__button-img {
    min-width: 254px;
}
.button-img:hover {
    transform: scale(1.02);
}
.header .nav-link {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #555a65;
    margin-right: 21px;

}
.header .nav-link:hover {
    text-decoration: underline;
    color: #555a65;
}
.header__logo2-img {
    display: none;
}



/*hero*/
.hero {
    padding-top: 94px;
    padding-bottom: 138px;


}
.hero__title {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
    color: #2b2d33;
}
.hero__subtitle {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #555a65;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.hero__button-img {
    min-width: 180px;
}

.hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 94px;
    width: 100%;
    height: 644px;
    background: url("../img/hero_bg.png") calc(50% + 374px) center no-repeat;
    background-size: contain;
    z-index: -1;

}
.star_bg {
    position: relative;
}
.star_bg-center {
    position: relative;
}
.star_bg-center::after {
    content: "";
    position: absolute;
    left: 130px;
    top: -10px;
    width: 50px;
    height: 50px;
    background: url("../img/star6.svg") right top no-repeat;
    background-size: contain;
    z-index: 1;
    animation: floatAndRotate 6s ease-in-out infinite;
}

.star_bg::after {
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    width: 50px;
    height: 50px;
    background: url("../img/star6.svg") right top no-repeat;
    background-size: contain;
    z-index: 1;
    animation: floatAndRotate 6s ease-in-out infinite;
}
.star_bg::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: url("../img/star6.svg") right top no-repeat;
    background-size: contain;
    z-index: 1;
    animation: floatAndRotate 7s ease-in-out infinite;
}

@keyframes floatAndRotate {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-20px) rotate(180deg);
    }
}
/*our-team*/
.our-team {
    padding-bottom: 160px;
}
.our-team__title {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    color: #2b2d33;
    margin: 0 auto 60px;

}
.our-team__item {
    box-shadow: 10px 40px 50px 0 rgba(229, 233, 246, 0.4);
    background: #fff;
    padding: 32px;
    border-radius: 20px;
    min-height: 386px;
}
.our-team__item-title {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #2b2d33;
}
.our-team__item-text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #555a65;
    margin-top: 16px;
}

.our-team::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;

    transform: translateX(-31px);
    width: 100%;
    height: 617px;
    z-index: -1;
    background: url("../img/our-team_bg.png") left center no-repeat;
}

/*about-app*/

.about-app {
    padding-top: 110px;
    overflow: hidden;
}
.about-app__second-card {
    margin-top: -120px!important;
}
.about-app__title1 {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #2b2d33;
    margin-bottom: 32px;
}
.about-app__title2 {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    color: #2b2d33;
}
.about-app__item-title {
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    color: #2b2d33;
    margin-top: 39px;
}
.about-app__item-text {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #555a65;
    margin-top: 16px;
}

.about-app::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 21%;
    width: 100%;
    height: 646px;
    z-index: -1;
    background: url("../img/about_bg1.png") center center no-repeat;
}
.about-app .container::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 44px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../img/about_bg2.png") bottom right no-repeat;
}
.about_bg_mob1::before{

    display: none;
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-200px);
    z-index: -1;
    background: url("../img/about_bg_mob1.png") top left  no-repeat;
}
.about_bg_mob2::before {
    display: none;
    content: "";
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(110px); /* сдвиг на 110px вправо от центра */
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../img/about_bg_mob2.png") top right no-repeat;
    background-size: contain; /* если нужно */
}
.about_bg_mob3::before{
    display: none;
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-200px);

    z-index: -1;
    background: url("../img/about_bg_mob3.png") top left  no-repeat;
}



@media (max-width: 992px) {
    .header .nav-link {

        font-size: 20px;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 33px;

    }
    .header__buttons {
        margin: auto;
        flex-direction: column;
    }
    .header__button-group {
        margin: 33px auto 50px;

    }
    .header .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .header .show .header__buttons {
        margin: auto;
        padding-top: 10px;
    }
    .header .show .navbar-nav {
        margin: auto;

    }
    .header .show .header__button {
        border: 1px solid #67B3A5;
        color: #67B3A5;
    }
    .header .header__burger {
        display: flex;
        z-index: 2;
    }
    .header .header__burger-icon {

        z-index: 2;
        border: transparent;
        background: #f7f8fa;
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: middle;
    }
    .header path {
        transition: transform 0.25s;
    }
    .header .active path:nth-of-type(1) {
        transform: rotate(45deg);
        transform-origin: -1px 3px;
    }
    .header .active path:nth-of-type(2) {
        display: none;
    }
    .header .active path:nth-of-type(3) {
        transform: rotate(-45deg);
        transform-origin: 0px 13px;
    }
    .header.active .navbar-brand {
        margin: 0 auto 0px;
        padding-left: 50px !important;


    }
    .header.active .header__logo1-img {
        display: none;
    }
    .header.active .header__logo2-img {
        display: block;
        margin-top: 78px;
        min-width: 190px;
    }

    .navbar-collapse {
        margin-top: 74px;
    }

    .hero__text-block {
        order:2;
        margin-top: 60px !important;

    }
    .hero__title {
        font-size: 24px;

    }
    .hero__subtitle {
        font-size: 16px;

    }

    .hero__img-block {
        order:1
    }



    .hero::before {
        content: "";
        position: absolute;
        left: 0;
        top: 44px;
        width: 100%;
        height: 100%;
        background: url("../img/hero_bg.png") center top no-repeat;
        background-size: contain;
        z-index: -1;

    }
    .hero__img {
        width: 65%;
    }

    .hero {
        padding-top: 44px;
        padding-bottom: 58px;


    }
    .star_bg-center::after {
        left: 30px;
    }


    /*our-team*/
    .our-team {

        background: #f7f8fa;
        border-radius: 12px;
        padding: 24px 15px 32px;
        margin: 19px;

    }
    .our-team__title {

        font-size: 24px;
        margin: 0 auto 24px;

    }
    .our-team__item {

        padding: 24px;

        min-height: auto;
        margin-bottom: 24px;
    }
    .our-team__item-title {
        font-size: 17px;
    }
    .our-team__item-text {

        font-size: 16px;
    }
    .card-group__item-image {
        display: flex;
        align-items: center;
    }
    .our-team__image {
        width: 48px;
        margin-right: 8px;
    }

    .our-team::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 60px;
        width: 100%;
        height: 617px;
        z-index: -1;
        background: url("../img/our-team_bg.png") calc(50% - 54%) center no-repeat;
    }


    /*about-app*/
    .about-app::before {
        display: none;
        content: "";
        position: absolute;
        left: -25px;
        top: 12%;
        width: 100%;
        height: 646px;
        z-index: -1;
        background: url("../img/about_bg1.png") center center no-repeat;
    }
    .about-app .container::after {
        display: none;
        content: "";
        position: absolute;
        right: 0;
        bottom: 44px;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url("../img/about_bg2.png") bottom right no-repeat;
    }
    .about-app__item-title {
        width: 80%;
        margin: 16px auto 0;
        text-align: center;
        font-size: 16px;
        line-height: 150%;

    }
    .about-app__item-text {
        border-left: 2px solid #ff00a8;
        padding: 0px 0px 0px 16px;
    }
    .about-app__second-card {
        margin-top: 40px!important;
    }
    .about-app__image {
        max-width: 250px;
    }
    .about-app__image2 {
        max-width: 200px;
    }
    .about-app .row {
        position: relative;
    }
    .about_bg_mob1,
    .about_bg_mob2,
    .about_bg_mob3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .about_bg_mob1::before,
    .about_bg_mob2::before,
    .about_bg_mob3::before {
        display: block;
    }
    .about-app .container {
        overflow: visible;
        position: relative; /* важно для абсолютного позиционирования детей */
    }
    .about-app__item{
        padding: 0 23px 0;
    }


}

.header.active path:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: -1px 3px;
}
.header.active path:nth-of-type(2) {
    display: none;
}
.header.active path:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 0px 13px;
}

.header .show .header__buttons {
    margin: auto;
}
